AsycudaWorld421/C71.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Value_declaration_form">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Identification_segment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Seller_segment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Name">
                      <xs:complexType mixed="true">
                        <xs:sequence >
                          <xs:element minOccurs="0" name="null" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Address">
                      <xs:complexType mixed="true">
                        <xs:sequence >
                          <xs:element minOccurs="0" name="null" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Buyer_segment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Code">
                      <xs:complexType mixed="true">
                        <xs:sequence >
                          <xs:element minOccurs="0" name="null" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Name">
                      <xs:complexType mixed="true">
                        <xs:sequence >
                          <xs:element minOccurs="0" name="null" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Address">
                      <xs:complexType mixed="true">
                        <xs:sequence >
                          <xs:element minOccurs="0" name="null" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Declarant_segment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Code">
                      <xs:complexType mixed="true">
                        <xs:sequence >
                          <xs:element minOccurs="0" name="null" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Name">
                      <xs:complexType mixed="true">
                        <xs:sequence >
                          <xs:element minOccurs="0" name="null" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Address">
                      <xs:complexType mixed="true">
                        <xs:sequence >
                          <xs:element minOccurs="0" name="null" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Contract_Number">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Contract_Date">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Customs_Decision_Number">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Customs_Decision_Date">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Yes_7A" type="xs:string"  default="false" nillable="true"/>
              <xs:element name="No_7A" type="xs:string"  default="false" nillable="true"/>
              <xs:element name="Yes_7B" type="xs:string" nillable="true" default="false" />
              <xs:element name="No_7B" nillable="true" type="xs:string" default="false" />
              <xs:element name="Yes_7C" type="xs:string"  default="false" nillable="true"/>
              <xs:element name="No_7C" type="xs:string"  default="false" nillable="true"/>
              <xs:element minOccurs="0" name="Box7_Details">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Yes_8A" type="xs:string"  default="false" nillable="true"/>
              <xs:element name="No_8A" type="xs:string"  default="false" nillable="true"/>
              <xs:element name="Yes_8B" type="xs:string"  default="false" nillable="true"/>
              <xs:element name="No_8B" type="xs:string"  default="false" nillable="true"/>
              <xs:element minOccurs="0" name="Box8_Details">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Yes_9A" type="xs:string"  default="false" nillable="true"/>
              <xs:element name="No_9A" type="xs:string"  default="false" nillable="true"/>
              <xs:element name="Yes_9B" type="xs:string"  default="false" nillable="true"/>
              <xs:element name="No_9B" type="xs:string"  default="false" nillable="true"/>
              <xs:element minOccurs="0" name="Box9_Details">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="Terms_of_Delivery_Code">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Terms_of_Delivery_Desc">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Invoice_Number">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Invoice_Date" type="xs:string" />
              <xs:element minOccurs="0" name="Currency_code_ind">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Name_ind">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Currency_Rate_ind" type="xs:string" />
              <xs:element name="Net_Price" type="xs:string" />
              <xs:element minOccurs="0" name="Currency_code_net">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Currency_Name_net">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Currency_Rate_net">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Indirect_Payments" type="xs:string" />
              <xs:element minOccurs="0" name="Currency_code_com">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Name_com">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Currency_Rate_com" type="xs:string" />
              <xs:element name="Commissions" type="xs:string" />
              <xs:element minOccurs="0" name="Currency_code_brg">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Name_brg">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Currency_Rate_brg" type="xs:string" />
              <xs:element name="Brokerage" type="xs:string" />
              <xs:element minOccurs="0" name="Currency_code_cap">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Name_cap">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Currency_Rate_cap" type="xs:string" />
              <xs:element name="Containers_Packaging" type="xs:string" />
              <xs:element minOccurs="0" name="Currency_code_mcp">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
             
              <xs:element minOccurs="0" name="Currency_Name_mcp">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Currency_Rate_mcp" type="xs:string" />
              <xs:element name="Material_Components" type="xs:string" />
              <xs:element minOccurs="0" name="Currency_code_tls">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Name_tls">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Currency_Rate_tls" type="xs:string" />
              <xs:element name="Tool_Dies" type="xs:string" />
              <xs:element minOccurs="0" name="Currency_code_mcg">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Name_mcg">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Currency_Rate_mcg" type="xs:string" />
              <xs:element name="Materials_Consumed" type="xs:string" />
              <xs:element minOccurs="0" name="Currency_code_eng">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Name_eng">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Currency_Rate_eng" type="xs:string" />
              <xs:element name="Engineering_Development" type="xs:string" />
              <xs:element minOccurs="0" name="Currency_code_roy">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Name_roy">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Currency_Rate_roy" type="xs:string" />
              <xs:element name="Royalties_licence_fees" type="xs:string" />
              <xs:element minOccurs="0" name="Currency_code_pro">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Name_pro">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Currency_Rate_pro">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Proceeds">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_code_tpt">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element minOccurs="0" name="Currency_Name_tpt">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Rate_tpt">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Transport">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_code_lhc">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Name_lhc">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element minOccurs="0" name="Currency_Rate_lhc">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              
              <xs:element minOccurs="0" name="Loading_handling">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_code_ins">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Name_ins">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Currency_Rate_ins" type="xs:string" />
              <xs:element name="Insurance" type="xs:string" />
              <xs:element minOccurs="0" name="Currency_code_aim">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              
              <xs:element minOccurs="0" name="Currency_Name_aim">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Currency_Rate_aim" type="xs:string" />
              <xs:element name="Transport_after_import" type="xs:string" />
              <xs:element minOccurs="0" name="Currency_code_cfc">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Name_cfc">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Currency_Rate_cfc" type="xs:string" />
              <xs:element name="Construction" type="xs:string" />
              <xs:element minOccurs="0" name="Currency_code_oth">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Name_oth">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Currency_Rate_oth" type="xs:string" />
              <xs:element name="Other_charges" type="xs:string" />
              
              <xs:element minOccurs="0" name="Other_specify">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_code_txs">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element minOccurs="0" name="Currency_Name_txs">
                <xs:complexType mixed="true">
                  <xs:sequence >
                    <xs:element minOccurs="0" name="null" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Currency_Rate_txs" type="xs:string" />
              <xs:element name="Customs_duties_taxes" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>